$bg-color: white;
$primary-color: #007bff;
$error-color: #dc3545;
$success-color: #28a745;
$border-color: #ccc;

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    padding: 20px;
    background-color: $bg-color;
    gap: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;

    /* Message d'erreur ou de succès */
    .message-container {
        width: 500px;
        padding: 10px;
        border-radius: 8px;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        display: none; /* Caché par défaut */
    }

    .message-success {
        background-color: $success-color;
        color: white;
        display: block;
    }

    .message-error {
        background-color: $error-color;
        color: white;
        display: block;
    }

    form {
        margin: 15px 0;

        label {
            display: block;
            margin-bottom: 10px;
        }

        input, select {
            display: block;
            width: 500px;
            padding: 10px;
            border-radius: 15px;
            font-size: medium;
        }

        select {
            height: 37px;
            padding: 8px;
            width: 520px;
        }

        #submit-button {
            display: block;
            background-color: $primary-color;
            color: white;
            border: none;
            margin: 15px auto;
            padding: 12px 24px;
            font-size: 20px;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.2s;

            &:hover {
                background-color: darken($primary-color, 10%);
                transform: scale(1.05);
            }

            &:active {
                transform: scale(0.95);
            }
        }

        .password-container {
            margin-bottom: 15px;
        }

        .password-wrapper {
            position: relative;
            display: flex;
            align-items: center;
        }

        .toggle-password {
            position: absolute;
            right: 20px;
            cursor: pointer;
            font-size: 14px;
            color: gray;
        }

        .error-message {
            font-size: 14px;
            color: $error-color;
            font-weight: bold;
        }
    }
}
